<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Server" version="1.0.0.805" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" allowedVersions="[6.2.0]" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" allowedVersions="[3.6.1]" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="2018.2.1" allowedVersions="[2018.2.1]" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.12" allowedVersions="[8.0.12]" targetFramework="net452" />
  <package id="MySql.Data.EntityFramework" version="8.0.12" allowedVersions="[8.0.12]" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" allowedVersions="[11.0.2]" targetFramework="net452" />
  <package id="NFive.SDK.Core" version="0.1.0.14" allowedVersions="[0.1.0.14,0.2)" targetFramework="net452" />
  <package id="NFive.SDK.Server" version="0.1.0.12" allowedVersions="[0.1.0.12,0.2)" targetFramework="net452" />
</packages>